exclude github_banner.png
exclude requirements
exclude setup.py
exclude .tox
exclude publish.py
recursive-exclude shopyo
recursive-include shopyo/api *
recursive-exclude shopyo/api/tests *
recursive-exclude screenshots *
