recursive-include shopyo *
recursive-include requirements *
prune shopyo/migrations
prune shopyo/instance
prune shopyo/static/modules
prune shopyo/static/uploads
recursive-exclude shopyo/.tox *
recursive-exclude __pycache__ *
recursive-exclude screenshots *
prune all_dist
prune venv
global-exclude .tox
global-exclude __pycache__
global-exclude *.py[co]
