Flask>=2.0.2
Flask-Admin>=1.5.8
Flask-Login>=0.5.0
flask-mailman>=0.3.0
Flask-Migrate>=3.1.0
Flask-SQLAlchemy>=2.5.1
Flask-WTF>=1.0.0
SQLAlchemy>=1.4.27
Werkzeug>=2.0.2
WTForms>=3.0.0
email-validator
shopyo-base
shopyo-auth
shopyo-dashboard
shopyo-appadmin
