{% extends "shopyo_base/base.html" %}
{% set active_page = 'i18n' %}
{% from "shopyo_base/macros/form.html" import render_field %}


{% block content %}
<div class="container">
    <h1>Language Management</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Add Language</h2>
            <form method="POST" action="{{ url_for('shopyo_i18n.dashboard') }}">
                {{ form.csrf_token }}
                {{ render_field(form.lang_code) }}
                {{ render_field(form.lang_name) }}
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
        <div class="col-md-6">
            <h2>Available Languages</h2>
            <ul class="list-group">
                {% for lang in langs %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ lang.lang_name }} ({{ lang.lang_code }})
                    <form method="POST" action="{{ url_for('shopyo_i18n.delete', lang_code=lang.lang_code) }}">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
